<ul class="nav nav-list">
    <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li class=nav-header>Tool Overviews</li>
            <li><a href="/github-intro/">Github</a></li>
            <li><a href="/markdown-intro/">Markdown</a></li>
            <li><a href="/vim-intro/">Vim</a></li>
         <li class=nav-header>Github</li>
            <li><a href="/fork-and-clone/">Fork & Clone</a></li>
         <li class=nav-header>Editing</li>
            <li><a href="/basic-editing/">Basic Editing</a></li>
            <li><a href="/footnotes/">Footnotes</a></li>
            <li><a href="/chapter-openings">Chapter Openings</a></li>
            <li><a href="/poems/">Poems</a></li>
<!-- List additional links. It is recommended to add a divider
    e.g. <li class=divider></li> first to break up the content. -->
</ul>
